---
# tasks file for configure-git

- name: Ensure git is installed
  ansible.builtin.apt:
    name:
      - git
      - sshpass
      - ssh-askpass
      - gnome-keyring
      - libsecret-1-0
      - libsecret-1-dev
    state: present

- name: Install a the Git Credential Manager .deb package from the internet
  ansible.builtin.apt:
    deb: "https://github.com/git-ecosystem/git-credential-manager/releases/download/v{{ gcm_version }}/gcm-linux_amd64.{{ gcm_version }}.deb"

- name: Configure git for default user email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ git_email }}"
  become: true
  become_user: "{{ interactive_user }}"

- name: Configure git for default user name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ git_user }}"
  become: true
  become_user: "{{ interactive_user }}"

- name: Configure git for default branch name
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: main
  become: true
  become_user: "{{ interactive_user }}"

- name: Configure git to use the credential manager GCM (secretservice)
  community.general.git_config:
    name: credential.credentialStore
    scope: global
    value: secretservice
  become: true
  become_user: "{{ interactive_user }}"

- name: Configure git credential manager - change git config to reflect use of GCM
  ansible.builtin.command:
    cmd: git-credential-manager configure --system
  become: true
  changed_when: false
