---
# tasks file for debian-desktop
# Coming out from preseed and common role, first order of business is to install
# additional firmware packages:
# nouveau.modeset=0

- name: Check for presence of graphical desktop environment
  ansible.builtin.stat:
    path: "/etc/gnome"
  register: gnomestat

- name: Install laptop tasksel packages
  ansible.builtin.command:
    cmd: tasksel install laptop
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true
  changed_when: true
  when: "'dev_workstation' in group_names and not gnomestat.stat.exists"

- name: Install the graphical desktop environment
  ansible.builtin.command:
    cmd: tasksel install desktop
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true
  changed_when: true
  when: not gnomestat.stat.exists

- name: Ensure install of nouveau package for Thinkpad T440p
  ansible.builtin.apt:
    name: xserver-xorg-video-nouveau
    state: present
  when: "'dev_workstation' in group_names"

- name: Ensure psutil and more required packages are present # we need psutil to use dconf later on
  ansible.builtin.apt:
    name:
      - python3-psutil
    state: present

- name: Add flatpak and Remmina remote desktop
  ansible.builtin.apt:
    name:
      - flatpak
      - gnome-software-plugin-flatpak
      - remmina
      - rustup
    state: present

- name: Run rustup to install latest cargo and rust
  ansible.builtin.command:
    cmd: rustup install stable
    creates: /home/{{ interactive_user }}/.cargo/bin/rustc
  become: true
  become_user: "{{ interactive_user }}"

- name: Configure flatpak repository
  ansible.builtin.command:
    cmd: flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
  changed_when: false

- name: Nuke firefox ESR that comes standard with GNOME
  ansible.builtin.apt:
    name: firefox-esr
    state: absent
    purge: true

- name: Install firefox using flatpak
  community.general.flatpak:
    name: org.mozilla.firefox
    state: present

- name: Import tasks to get rid of bloatware
  ansible.builtin.import_tasks:
    file: kill-gnome-bloat.yml

- name: Import tasks to customize GNOME
  ansible.builtin.import_tasks:
    file: customize-gnome.yml
  become: true
  become_user: "{{ interactive_user }}"

- name: Import tasks to install and customize GIT
  ansible.builtin.import_tasks:
    file: configure-git.yml
